<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <a href="{{ lineAuthLoginURI }}">
          <button>Login</button>
        </a>
    </body>
</html>